section p:first-of-type {
    text-align: center;
}

@media (min-width: 768px) {
    section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section h2 {
        width: 100%;
        text-align: center;
    }

    section picture,
    .tekst,
    .buttons,
    .kalender {
        width: 45%;
    }

    .buttons {
        order: 2;
    }

    button {
        padding: 1.75rem 2rem;
    }    
}
