main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 1rem;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 75dvw;
    height: fit-content;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--baggrund-farve);
}

h1 {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
    text-decoration: underline var(--varm-vild);
    color: var(--tekst-farve);
}

.beskrivelse {
    margin: 0 0 1rem 0;
    text-align: center;
    color: var(--tekst-farve);
}

.counter {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin: 0 0 1rem 0;
}

#count {
    font-family: var(--bold-font);
    font-size: 2rem;
    min-width: 1ch;
    margin: 0 0.5rem;
    text-align: center;
    text-justify: center;
    color: var(--tekst-farve);
    cursor: default;
}

#minus,
#plus {
    font-size: 1.25rem;
    min-width: 4ch;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) -1px -3px 0 inset;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}

form label {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 0.5rem;
}

form label:last-of-type {
    margin: 0 0 1rem 0;
}

form label:has(input:focus) .title {
    top: 0.25rem;
    left: 0;
    color: var(--varm-vild);
}

form label .title {
    position: relative;
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    width: fit-content;
    padding: 0 0.16rem;
    transition: all 300ms;
    color: var(--smovse-turkis);
    background: var(--baggrund-farve);
}

form .input-field {
    width: auto;
    height: 3rem;
    transition: all 0.3s;
    text-indent: 1rem;
    color: var(--tekst-farve);
    border: 1px solid var(--smovse-turkis);
    border-radius: 0.75rem;
    outline: none;
    background-color: transparent;
}

form .input-field:hover {
    border-color: var(--varm-vild);
}

.input-field:focus {
    border-color: var(--varm-vild);
}
    
.title:has(+.input-field:not(:placeholder-shown):not(.input-field[type="date"]):not(.input-field[type="time"])), 
.input-field:not(:placeholder-shown):not(.input-field[type="date"]):not(.input-field[type="time"]) {
    border-color: var(--varm-vild); 
    color: var(--varm-vild);
}

.input-field[type="date"],
.input-field[type="time"] {
    text-indent: 0.5rem;
    color: #173e4560;
}

.input-field[type="date"]:valid,
.input-field[type="time"]:valid {
    color: var(--varm-vild);
} 

button,
.book-btn {
    display: flex;
    line-height: 0.25;
    align-items: center;
    padding: 0.75rem 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--tekst-farve);
    border: 1px solid var(--tekst-farve);
    border-radius: 2rem;
    background: linear-gradient(to right, var(--varm-vild) 0%, var(--varm-mild) 100%);
    justify-content: center;
}

.phone-container {
    display: flex;
    align-items: center;
}

.phone-container:hover .country-code, .phone-container:focus-within .country-code, input[type="tel"]:focus {
    border-color: var(--varm-vild);
}

*::placeholder {
    color: #173e4560;
}

/* Country code dropdown */
.country-code {
    height: 3rem;
    padding: 0 0 0 1rem;
    border: 1px solid var(--smovse-turkis);
    background-color: transparent;
    border-radius: 0.75rem 0 0 0.75rem;
    border-right: none;
    font-size: 0.85rem;
    color: #173e4560;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.country-code:hover,
.country-code:focus {
    border-color: var(--varm-vild);
}

input[type="tel"] {
    height: 3rem;
    width: 100%;
    color: var(--tekst-farve);
    border: 1px solid var(--smovse-turkis);
    border-radius: 0 0.75rem 0.75rem 0;
    border-left: none;
    background-color: transparent;
    transition: all 0.3s;
}

@media (min-width: 768px) {
    section {
        width: 70vw;
        padding: 2rem;
        border-radius: 1rem;
    }

    h1 {
        font-size: 4rem;
    }
    
    .beskrivelse {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #minus,
    #plus {
        font-size: 2.25rem;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
    }

    form label {
        width: calc(50% - 1rem);
        height: fit-content;
    }

    form label:has(input:focus) .title {
        top: 0.25rem;
        left: 0;
        color: var(--varm-vild);
    }

    form label .title {
        position: relative;
        top: 1.25rem;
        left: 1rem;
        font-size: 1.5rem;
        width: fit-content;
        color: var(--smovse-turkis);
        background: var(--baggrund-farve);
    }

    form .input-field {
        width: auto;
        height: 5rem;
        transition: all 0.3s;
        text-indent: 1rem;
        color: var(--tekst-farve);
        border: 1px solid var(--smovse-turkis);
        border-radius: 0.75rem;
        outline: none;
        background-color: transparent;
        font-size: 1.15rem;
    }

    form label:last-of-type {
        margin: 0 0 0 0;
    }

    form .input-field:hover {
        border-color: var(--varm-vild);
    }

    .input-field:focus {
        border-color: var(--varm-vild);
        color: var(--varm-vild);
    }

    .input-field:not(:placeholder-shown):not(.input-field[type="date"]):not(.input-field[type="time"]) {
        color: var(--tekst-farve);
        border-color: var(--varm-vild);
    }

    .title:has(+.input-field:not(:placeholder-shown):not(.input-field[type="date"]):not(.input-field[type="time"])) {
        color: var(--varm-vild);
    }

    .input-field[type="date"],
    .input-field[type="time"] {
        text-indent: 0.5rem;
    }

    label[for="name"] {
        order: 1;
    }
    label[for="email"] {
        margin: 0;
        order: 3;
    }

    label[for="phone"] {
        order: 5;
    }

    /* Country code dropdown*/
    .country-code {
        border-right: none;
        height: 5rem;
        font-size: 1.1rem;
    } 

    input[type="tel"], 
    input[type="tel"]:focus {
        width: 100%;
        border-radius: 0 0.75rem 0.75rem 0;
        border-left: none;
    }

    label[for="date"] {
        order: 2;
    }
    label[for="time"] {
        order: 4;
    }
    label[for="button"] {
        order: 6;
        align-self: flex-end;
    }
    
    .book-btn {
        font-size: 1.5rem;
        padding: 2rem 5rem;
        max-width: fit-content;
        align-self: center;
    }

    input[type="tel"] {
        margin: 0;
        padding: 0;
        height: 5rem;
        
    }
}