h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    color: var(--tekst-farve);
    border: 1px solid var(--tekst-farve);
    border-radius: 2rem;
    background: linear-gradient(to right, var(--smovse-turkis) 0%, var(--lys-turkis) 100%);
}

@media (min-width: 768px) {
    section {
        padding: 2rem;
        border-radius: 1rem;
    }
}