section {
    margin: 1rem;
}

h1 {
    font-size: 6rem;
    margin: 0.5rem 0 0 0;
}

button {
    padding: 0.5rem 3rem;
}

button img {
    all: revert;
    width: 1.5rem;
    height: auto;
    background: none;
}

@media (min-width: 768px) {
    main {
        justify-content: center;
    }
    
    section {
        height: 75dvh;
    }

    h1 {
        font-size: 10rem;
    }
}
