footer {
    background-color: var(--smovse-turkis);
    color: var(--tekst-farve);
    box-shadow: 0 -5px 6px #00000039;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    max-width: 100%;
}

.footer-column {
    margin-bottom: 1rem;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;    
}

.footer-column img {
    background-image: none;
    width: 10dvw;
    height: auto;
    aspect-ratio: 1/1;    
}

.footer-column ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: var(--tekst-farve);
    text-decoration: underline;
}

.footer-column ul li a:hover {
    color: var(--varm-vild);
}

#om p {
    margin: 0.25rem 0;
}

#om a {
    text-decoration: none;
    color: var(--tekst-farve);    
}
#om a:hover {
    text-decoration: underline;
    color: var(--varm-vild);
}

#follow img {
    vertical-align: middle; 
    width: 10dvw;
    height: auto;
}

#follow a {
    vertical-align: bottom; 
    text-decoration: none;
    color: var(--tekst-farve);
    font-size: 5dvw;
    transition: text-decoration 5s ease;
}

#follow a:hover {
    text-decoration: underline;
    color: var(--varm-vild);
}

#smovs-maps-location {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-image: url("/img/standby.svg");
    z-index: 1;
    margin: 0.5rem 0;
}

#smovs-maps-location * {
    background-image: none !important;
}

#map-marker {
    background-image: url("/./img/logo-border_smovs.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

.gm-style-cc {
    display: none; 
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5rem;
    }

    .footer-column {
        flex: 1;
        margin-bottom: 0;
    }

    .footer-column h4 {
        font-size: 1.2rem;
    }

    .footer-column ul li a {
        font-size: 0.9rem;
    }

    #smovs-maps-location {
        width: calc(100% - 1rem);
        margin: 0.5rem 1rem 0 0 ;
    }
}
