footer {
    display: block;
    background-color: var(--smovse-turkis);
    padding: 25px 0;
    box-shadow: 0 -5px 6px #00000039;
}

#smovs-maps-location {
    height: 50dvh;
    width: 50dvw; 
    z-index: 1;
    background-color: red;
}

#map-marker {
    background-image: url("/./img/logo-border_smovs.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

.gmnoprint, .gm-control-active{
    transform: scale(0.65);
}

.gm-style-cc {
    display: none; 
}