footer {
    background-color: var(--smovse-turkis);
    color: var(--tekst-farve);
    box-shadow: 0 -5px 6px #00000039;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    max-width: 100%;
}

.footer-column {
    margin-bottom: 1rem;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;    
}

.footer-column img {
    background-image: none;
    width: 10dvw;
    height: auto;
    aspect-ratio: 1/1;    
}

.footer-column ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: var(--tekst-farve);
    text-decoration: underline;
}

.footer-column ul li a:hover {
    color: var(--varm-vild);
}

#om p {
    margin: 0.25rem 0;
}

#om a {
    text-decoration: none;
    color: var(--tekst-farve);    
}
#om a:hover {
    text-decoration: underline;
    color: var(--varm-vild);
}

#follow img {
    vertical-align: middle; 
    width: 10dvw;
    height: auto;
}

#follow a {
    vertical-align: bottom; 
    text-decoration: none;
    color: var(--tekst-farve);
    font-size: 5dvw;
    transition: text-decoration 5s ease;
}

#follow a:hover {
    text-decoration: underline;
    color: var(--varm-vild);
}

#smovs-maps-location {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-image: url("/img/standby.svg");
    z-index: 1;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

#smovs-maps-location *:not(#map-marker) {
    background-image: none !important;
}

#map-marker {
    background-image: url("/./img/logo-border_smovs.webp");
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 4.25rem; 
    height: 4.25rem; 
    /* border-radius: 1rem; */
    position: relative;
}

#map-marker::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 40%;
    background-color: var(--smovse-turkis);
    background-image: url("/./img/logo-border_smovs.webp");
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: end;
    top: 100%;
    left: 50%;
    clip-path: polygon(100% 0, 0 0, 50% 85%);
    transform: translate(-50%, 0rem);
}

.gm-style-cc {
    display: none; 
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2.5rem;
    }

    .footer-column {
        flex: 1 1 25%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
    }

    .footer-column h3 {
        font-size: 1.75rem;
    }

    .footer-column img {
        width: 5dvw;
    }
    
    .footer-column ul li a {
        font-size: 1.12rem;
    }
    
    #follow img {
        width: 4dvw;
        margin: 0.5rem;
    }
    
    #follow a {
        font-size: 1.5dvw;
    }
    
    #open p {
        font-size: 1.75rem;
        margin-top: 0.5rem;
        color: var(--rolig-gron);
    }
    
    #map {
        order: 5;
        width: 100dvw;
        height: 100%;
        margin-top: 1rem;
        aspect-ratio: 3/1;
    }

    #smovs-maps-location {
        width: 100%;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
