#on-page {
    text-decoration: underline var(--varm-vild) !important;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 6px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    width: 100%;
    padding: 0.25rem .25rem;
    background-image: linear-gradient(to right, var(--smovse-turkis) 55%, var(--lys-turkis) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: var(--tekst-farve);
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.535) 0px 1px 15px, rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: height 0.5s ease;
}

#mobil-nav {
    display: none; 
    position: absolute;
    top: 3.250rem;
    z-index: 999;
    list-style: none;
    background-image: linear-gradient(to right, var(--smovse-turkis) 55%, var(--lys-turkis) 100%);
    height: 0dvh;
    padding: 0rem 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    transition: height 0.5s ease, padding 0.5s ease;
}

#mobil-nav a {
    display: flex;
    color: var(--tekst-farve);
    height: fit-content;
    width: 100%;
    font-size: 0rem;
    font-family: var(--bold-font);
    text-decoration: none;
    justify-content: center;
    transition: font-size 0.5s ease;

}

.tabs {
    position: relative;
    height: 3rem;
    width: auto;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    transition: transform 0.5s ease;
}

.tabs div {
    width: 100%;
    height: 16%;
    box-shadow: rgba(0, 0, 0, 0.535) 0px 3px 15px, rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(45, 45, 45) 0px 0px 0px 0.5px;
    transition: width 0.5s ease, height 0.6s ease;
    border-radius: 0%;
}

#tabline-top {
    background-color: var(--varm-vild);
}
#tabline-mid {
    background-color: var(--varm-mild);
}
#tabline-bot {
    background-color: var(--sydens-sol);
}

@keyframes slide {
    to {
        transform: translateX(-50%);
    }
}


@media (min-width: 768px) {
    header {
        position: fixed;
        background-image: linear-gradient(to right, var(--smovse-turkis) 55%, var(--lys-turkis) 100%);
        z-index: 1000;
        flex-direction: row;
    }
    
    #header {
        background-image: none;
        width: fit-content;
    }
    
    #header.scrolled .logo {
        height: 3rem;
        transition: height 0.5s ease;
    }

    #header.scrolled ~ #mobil-nav a {
        font-size: 1.5rem;
        transition: font-size 0.5s ease, padding 0.5s ease;
    }
    
    main:nth-of-type(1) {
        margin-top: 8rem;
    }

    .logo {
        position: relative;
        top: 0;
        left: 0;
        height: 5rem;
        width: auto;
        transition: height 0.5s ease;
        box-shadow: initial;
    }
    
    .logo:hover {
        box-shadow: rgba(0, 0, 0, 0.535) 0px 1px 15px, rgba(0, 0, 0, 0.16) 0px 1px 4px;
        cursor: pointer;
    }
    
    #mobil-nav {
        all: initial;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        cursor: pointer;
    }
    
    #mobil-nav a {
        font-size: 2rem;
        /* margin: 0 1rem; */
        padding: 0.5rem 1rem;
        width: fit-content;
        border-radius: 0.5rem;
    }
    
    #mobil-nav a:hover {
        background-image: linear-gradient(to bottom, var(--smovse-turkis) 5%, var(--lys-turkis) 100%);
        box-shadow: rgba(0, 0, 0, 0.535) 0px 1px 15px, rgba(0, 0, 0, 0.16) 0px 1px 4px;
        text-decoration: underline var(--varm-vild);
    }
    
    .tabs {
        display: none;       
    }
    
}