.menu-images {
    display: none;
}

.menu {
    border: 2px solid var(--rolig-gron);
    background-color: var(--lys-turkis);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
}

@media (min-width: 768px) {
    main {
        flex-direction: row; 
        align-items: flex-start; 
    }
    
    .menu-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        flex-grow: 1;
        height: fit-content;
        z-index: -1;
        margin-top: 2rem;
        
        &:nth-of-type(2) {
            order: 3;
    
            & .polaroid {
                rotate: -10deg;
    
                &:nth-of-type(2n) {
                    rotate: 15deg;
                }
            }
        }
    }
    
    .polaroid {
        background: #ffffe8;
        box-shadow: rgba(0, 0, 0, 0.09) 0px -2px 1px, rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 2px 0px 1px, rgba(0, 0, 0, 0.09) -2px 0px 1px, rgba(0, 0, 0, 0.09) 0px -4px 2px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 4px 0px 2px, rgba(0, 0, 0, 0.09) -4px 0px 2px, rgba(0, 0, 0, 0.09) 0px -8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,rgba(0, 0, 0, 0.09) 0px 32px 16px;
        padding: 0.6rem;
        text-align: center;
        width: 100%;
        height: auto;
        border-radius: 0.25rem;
        margin: 0 0 4vw 0;
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
        rotate: 10deg;
        
        &:nth-of-type(2n) {
            rotate: -20deg;
        }
    }
    
    .polaroid img {
        margin-bottom: 0.75rem;
        border: rgba(0, 0, 0, 0.75) solid 1px;
        box-shadow: none;
        filter: blur(0.5px) brightness(0.9) grayscale(0.1) contrast(1.1) drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.04));
        border-radius: 0;
    }
        
    .polaroid p {
        margin: 0;
        text-align: center;
    }
    
    .menu-container {
        order: 2;   
    }

    .menu-kort {
        width: 50dvw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    h2 {
        width: 100%;
        text-align: center;
    }
    
    .menu-kort .menu {
        max-width: calc(50% - 2rem);
        min-width: calc(50% - 1rem);
    }
}
