main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 1rem;
}

.menu-images {
    display: none;
}

.menu-kort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75dvw;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: var(--baggrund-farve);
}

h2 {
    font-size: 2rem;
}

.menu-kort .menu {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--rolig-gron);
    background-color: var(--lys-turkis);
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    position: relative;
}

.menu-kort .menu h3 {
    color: var(--varm-vild);
    font-size: 1.75rem;
}

.menu-kort .menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    height: 100%;
}

.menu-kort .menu ul li {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    main {
        flex-direction: column;
        justify-content: space-around; 
        align-items: flex-start; 
        flex-direction: row; 
        align-content: flex-start;
        max-width: 100vw;
        gap: 0.5rem;
    }
    
    .menu-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        flex-grow: 1;
        height: fit-content;
        z-index: -1;
        margin-top: 2rem;
        
        &:nth-of-type(2) {
            order: 3;
    
            & .polaroid {
                rotate: -10deg;
    
                &:nth-of-type(2n) {
                    rotate: 15deg;
                }
            }
        }
    }
    
    .polaroid {
        background: #ffffe8;
        box-shadow: rgba(0, 0, 0, 0.09) 0px -2px 1px, rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 2px 0px 1px, rgba(0, 0, 0, 0.09) -2px 0px 1px, rgba(0, 0, 0, 0.09) 0px -4px 2px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 4px 0px 2px, rgba(0, 0, 0, 0.09) -4px 0px 2px, rgba(0, 0, 0, 0.09) 0px -8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,rgba(0, 0, 0, 0.09) 0px 32px 16px;
        padding: 0.6rem;
        text-align: center;
        width: 100%;
        height: auto;
        border-radius: 0.25rem;
        margin: 0 0 4vw 0;
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
        rotate: 10deg;
        
        &:nth-of-type(2n) {
            rotate: -20deg;
        }
    }
    
    .polaroid img {
        width: 100%;
        max-width: 33dvw;
        height: auto;
        aspect-ratio: 1 / 1;
        /* display: block; */
        margin-bottom: 0.75rem;
        border: rgba(72, 70, 70, 0.712) solid 1px;
        filter: blur(0.5px) brightness(0.9) grayscale(0.1) contrast(1.1) drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.04));
    }
        
    .polaroid p {
        font-size: 1.5rem;
    }
    
    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;   
    }

    .menu-kort {
        flex: 0 0 auto;
        margin: 0 0 1rem 0;
        width: 50dvw;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }

    h2 {
        font-size: 4rem;
        margin: 0 0 1rem 0;
        width: 100%;
        text-align: center;
    }
    
    .menu-kort .menu {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
        margin: 1rem;
    }
}
