main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 1rem;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 75dvw;
    height: fit-content;
    margin: 0 0 1rem 0;
    border-radius: 0.5rem;
    background-color: var(--baggrund-farve);
}

h1 {
    margin: 0.5rem 0;
    color: var(--tekst-farve);
}

section h2 {
    margin: 0.5rem 0;
    text-decoration: underline var(--varm-vild);
}

section picture {
    width: 90%;
    height: auto;
    margin-bottom: 0.5rem;
}    

section picture img {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}    

section p {
    margin: 0 5% 0.5rem 5%;
    text-align: center;
    color: var(--tekst-farve);
}

section p:last-of-type {
    margin: 0 5% 1rem 5%;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    margin: 0 0 1rem 0;
}

button {
    display: flex;
    font-size: 1rem;
    line-height: 0.25;
    align-items: center;
    padding: 0.75rem 1rem;
    padding-right: 1.25rem;
    cursor: pointer;
    color: var(--tekst-farve);
    border: 1px solid var(--tekst-farve);
    border-radius: 2rem;
    background: linear-gradient(to right, var(--varm-vild) 0%, var(--varm-mild) 100%);
    box-shadow: 0 5px 10px -8px #FBEC22;
}

@media (min-width: 768px) {
    section:not(#title) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section h2 {
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    section picture,
    .tekst,
    .buttons,
    .kalender {
        width: 45%;
        min-width: 45%;
    }

    section picture img {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .tekst {
        margin: 0.5rem 0 0 0;
        font-size: 1.35rem;
    }

    .buttons {
        justify-content: center;
        order: 2;
    }

    button {
        width: fit-content;
        height: fit-content;
        padding: 1.75rem 2rem;
        font-size: 2.5rem;
    }
}
