* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "smovs-bold", "Courier New", monospace; */
    /* border: red solid 1px; */
}

@font-face {
    font-family: "smovs-regular";
    src: url("/fonts/wyvern-el-2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "smovs-bold";
    src: url("/fonts/wyvern-rg.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
    --varm-vild: #F28608;
    --varm-mild: #FECC45;
    --pink-pift: #EF6BB4;
    --rolig-gron: #088371;
    --gang-gron: #94D539;
    --spansk-rod: #F6514D;
    --sydens-sol: #FBEB22;
    --smovse-turkis: #58DDDC;
    --lys-turkis: #a9fffe;
    --baggrund-farve: #FFFCEB;
    --tekst-farve: #173e45;
    --regular-font: arial, sans-serif;
    --bold-font: "smovs-bold", "Segoe UI", Roboto;
}

html {
    max-width: 100dvw;
    color: var(--tekst-farve);
    font-family: var(--regular-font);
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--varm-vild);
}

img {
    background-image: url("/img/standby.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: "smovs-bold";
}

h2 {
    font-family: "smovs-bold";
}

h3 {
    font-family: "smovs-bold";
}